body {
    font-family: Roboto, sans-serif;
}

.app {
    padding: 35px 30px 50px;
    background: var(--color-bg);
    max-width: 420px;
    min-height: 740px;
    height: 100dvh;
    margin: 0px auto;
    overflow: hidden;
    position: relative;

    &::after {
        content: '';
        width: calc(100% + 150px);
        position: absolute;
        bottom: -100px;
        left: -50px;
        right: -100px;
        transform: rotate(-15deg);
        background: var(--color-green);
        top: 80%;
        transition: top .4s ease-in-out;
    }

    &[data-page="1"] {
        &::after {
            top: 50%;
        }

        .button {
            color: #fff;
            right: 30px;
            background: var(--color-red);
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }

        .app-body {
            height: 100%;
            justify-content: end;
            padding: 0px 0px 80px;
        }

        .img {
            transform: translate(0, 0);
            width: 100%;
            height: 70%;
            top: 0;
            background: url('../img/4.png') no-repeat -25px -50px, url('../img/6.png') no-repeat calc(100% + 50px) 30px;
            opacity: 1;
            visibility: visible;
        }
    }

    &[data-page="2"] {
        .img {
            background: url('../img/1.png') no-repeat calc(50% + 80px) calc(100% + 70px);
            background-size: contain;
        }
    }

    &[data-page="3"] {
        .img {
            height: 60%;
            background: url('../img/2.png') no-repeat calc(50% + 60px) calc(100% + 190px);
            background-size: contain;
        }
    }

    &[data-page="4"] {
        .img {
            background: url('../img/3.png') no-repeat calc(50% + 90px) calc(100% + 80px);
            background-size: contain;
        }
    }
    
    &[data-page="5"] {
        .img {
            height: 60%;
            background: url('../img/4.png') no-repeat calc(50% + 70px) calc(100% + 160px);
            background-size: contain;
        }
    }

    &[data-page="6"] {
        .img {
            background: url('../img/5.png') no-repeat calc(50% + 70px) calc(100% + 80px);
            background-size: contain;
        }
    }

    &[data-page="7"] {
        .img {
            height: 60%;
            background: url('../img/4.png') no-repeat calc(50% + 70px) calc(100% + 190px);
            background-size: contain;
        }
    }

    &-body {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 20px;
        position: relative;
        z-index: 3;

        &.hidden {
            pointer-events: none;

            .message {
                opacity: 1;
                visibility: visible;
                transform: translate(0, 0);
            }

            & ~ .button {
                opacity: 1;
                visibility: visible;
                transform: scale(1);
            }
        }
    }
}