.title,
.message,
.question,
.answer {
    color: var(--color-green2);
    text-align: center;
    width: 100%;
}

.title,
.subtitle {
    text-transform: uppercase;
}

.title {
    color: var(--color-title);
    font-size: 27px;
    letter-spacing: 1px;
    font-weight: 700;
}

.subtitle {
    color: #fff;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 1px;
}

.question {
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 400;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.message {
    font-size: 16px;
    line-height: 22px;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 10px);
    transition: opacity .3s linear, transform .5s linear;
}

.answers {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 20px;
}

.answer {
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 14px;
    background: #fff;
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 10px);
    animation: show .5s linear forwards;

    &.true {
        background: var(--color-yellow);
    }

    &.false {
        background: var(--color-red);
    }

    &:nth-child(2) {
        animation-delay: .2s;
    }

    &:nth-child(3) {
        animation-delay: .4s;
    }

    &:nth-child(4) {
        animation-delay: .6s;
    }
}

.button {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 14px;
    border-radius: 8px;
    background: #fff;
    color: var(--color-green2);
    font-size: 20px;
    letter-spacing: 1px;
    z-index: 5;
    bottom: 50px;
    left: 30px;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.8);
    transition: opacity .3s linear, transform .3s linear;
}

.img {
    position: absolute;
    z-index: 2;
    pointer-events: none;
    left: 0;
    right: 0;
    width: 100%;
    bottom: 0;
    height: 40%;
    transform: translate(0, 50px);
    opacity: 0;
    visibility: hidden;

    img {
        position: absolute;
        animation: list 5s linear infinite;
        &:nth-child(1) {
            top: 150px;
            left: 15%;
        }
        &:nth-child(2) {
            top: calc(100% - 100px);
            left: calc(100% - 60px);
        }
        &:nth-child(3) {
            top: 80px;
            left: -50px;
        }
    }
}

.promocode {
    color: var(--color-red);
    background: #fff;
    font-size: 28px;
    font-weight: 700;
    margin: 0px auto;
    padding: 8px 32px;
    border-radius: 8px;
    animation: promocode .8s ease-in-out forwards;
}

.desc {
    font-size: 12px;
    color: #fff;
}

@keyframes show {
    100% {
        visibility: visible;
        opacity: 1;
        transform: translate(0, 0);
    }
}

@keyframes promocode {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes list {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-3deg) translate(0, 2px);
    }
    50% {
        transform: rotate(0deg) translate(0, 4px);
    }
    75% {
        transform: rotate(3deg) translate(0, 0);
    }
    100% {
        transform: rotate(0deg);
    }
}