:root {
    --color-bg: #7cb409;
    --color-title: #ffff33;
    --color-yellow: #fce20c;
    --color-green: #00831e;
    --color-green2: #136a1a;
    --color-button: #de240b;
    --color-red: #db1e11;
}